<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
{% if site.github_username %}
          <li>
{%     include icon-github.html username=site.github_username %}
          </li>
{% endif %}

{% if site.twitter_username %}
          <li>
{%     include icon-twitter.html username=site.twitter_username %}
          </li>
{% endif %}

{% if site.facebook_username %}
          <li>
{%     include icon-facebook.html username=site.facebook_username %}
          </li>
{% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
        <li>
           We appreciate
           <a href="https://github.com/indietechrocks/indietech.rocks">GitHub pull requests</a>
           adding new
           <a class="page-link" href="{{ "products" | prepend: site.baseurl }}">products</a>.
        </li>
        <li>
           You can also simply file a
           <a href="https://github.com/indietechrocks/indietech.rocks/issues">new issue</a>.
        </li>
      </div>
    </div>

  </div>

</footer>
