<tr>
 <td class="icon">
  <a name="{{ include.productname }}"></a>
  <a href="{{ include.producturl }}">
{% if include.productimgurl %}
   <img src="{{ include.productimgurl }}">
{% else %}
   <img src="/images/default-logo.png">
{% endif %}
  </a>
 </td>
 <td class="name">
  <a href="{{ include.producturl }}">{{ include.productname }}</a>
 </td>
 <td class="vendor">
{% if include.vendorurl %}
  <a href="{{ include.vendorurl }}">
{{     include.vendorname }}
  </a>
{% else %}
{{     include.vendorname }}
{% endif %}
 </td>
 <td class="type">{{ include.producttype }}</td>
 <td class="description">{{ include.productdescription }}</td>
 <td class="licenseorcost">
{% if include.productlicenseorcost %}
{{     include.productlicenseorcost }}
{% else %}
?
{% endif %}
 </td>
</tr>
