table {
    border-collapse: collapse;
}

.logo-container {
  width: 50px;
  height: 50px;
  margin: 0 16px 0 0;
  float: left;
  background: url(/images/logo-50x50.png);
  background-repeat: none;
}

table.products {
  width: 100%;

  td {
    border-width: 1px 0;
    border-color: #b0b0b0;
    border-style: solid;
    padding: 10px 15px;
  }
  td.icon {
    width: 15%;
    text-align: center;
    height: 100px;
    overflow: hidden;

    img {
      width: 100px;
      height: auto;
    }
  }
  td.name {
    font-weight: bold;
    width: 15%;
  }
  td.vendor {
    width: 15%;
  }
  td.type {
    width: 15%;
  }
  td.description {
    width: 30%;
  }
  td.licenseorcost {
    width: 10%;
  }
}

h2.posts {
  text-align: center;
}

@media only screen  and (max-device-width: 667px) {

  table.products, table.products td, table.products tr {
    display: block;
    position:relative;
  }
  table.products tr {
    border-width: 1px 0;
    border-color: #b0b0b0;
    border-style: solid;
    padding: 10px 15px;
  }
  table.products td {
    border:none;
  }

  /* Left columns and headers for mobile */

  table.products td.icon:before, table.products td.name:before, table.products td.vendor:before, table.products td.type:before, table.products td.description:before , table.products td.licenseorcost:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    padding-top: 5px;
    white-space: nowrap;
  }

  td.name:before{content:"Name";}
  td.vendor:before{content:"Vendor";}
  td.type:before{content:"Type";}
  td.description:before{content:"Description";}
  td.licenseorcost:before {content:"License/cost";}

  /* Right columns for mobile */
  table.products td.icon, table.products td.name, table.products td.vendor, table.products td.type, table.products td.description , table.products td.licenseorcost {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%!important;
    width:45%;
    text-align:left;
  }
  table.products td.icon {
    height:auto;
  }
}
