table {
    border-collapse: collapse;
}

.logo-container {
  width: 50px;
  margin: 2px 16px 0 0;
  float: left;
}

#logo-square-top {
  animation-duration: 1.5s;
  animation-name: logo-slidevert;
  animation-iteration-count: infinite;
  fill: $brand-color-main;
}

#logo-square-right {
  animation-duration: 1.5s;
  animation-name: logo-slidehor;
  animation-iteration-count: infinite;
  fill: $brand-color-link;
}

@keyframes logo-slidevert {
  0%, 100%{
    transform: translate(0, 0);
  }

  25%, 50%, 75%{
    transform: translate(0, 10px);
  }
}

@keyframes logo-slidehor {
  0%, 25%, 75%, 100%{
    transform: translate(0, 0);
  }

  50%{
    transform: translate(10px, 0);
  }
}

table.products {
    width: 100%;

    td {
        border-width: 1px 0;
        border-color: #b0b0b0;
        border-style: solid;
        padding: 10px 15px;
    }

    td.icon {
        width: 15%;
        text-align: center;
    }
    td.name {
        font-weight: bold;
        width: 15%;
    }
    td.vendor {
        width: 15%;
    }
    td.type {
        width: 15%;
    }
    td.description {
        width: 30%;
    }
    td.licenseorcost {
        width: 10%;
    }
}

h2.posts {
    text-align: center;
}
