table.products {
    width: 100%;

    td {
        border-width: 1px 0;
        border-color: #b0b0b0;
        border-style: solid;
        padding: 2px;
    }

    td.icon {
        width: 15%;
    }
    td.name {
        width: 15%;
    }
    td.vendor {
        width: 15%;
    }
    td.type {
        width: 15%;
    }
    td.description {
        width: 30%;
    }
    td.licenseorcost {
        width: 10%;
    }
}
